.login-form .card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.login-form .card .shape {
    width: 300px;
    height: 300px;
    border-radius: 40px;
    display: block;
    position: absolute;
    top: 0;
    right: -180px;
    background: #6fbfc328;
    transform: rotate(45deg);
    /* background-image: url(""); */
}

.login-form .card .card-header i {
    font-size: 50px;
    margin-bottom: 15px;
}

.login-form .card .card-header h2 {
    font-size: 25px;
    font-weight: 700;
}

.login-form .card .card-body {
    padding: 35px;
    position: relative;
}

.login-form .card .card-body label {
    font-size: 16px;
}

.login-form .card .card-body input,
.login-form .card .card-body textarea,
.login-form .card .card-body select {
    /* border: 1px solid #aaa; */
    background: #eeeeee;
    border-radius: 10px;
}

.login-form .card .card-body input:focus,
.login-form .card .card-body textarea,
.login-form .card .card-body select:focus {
    border: 1px solid #3F8EFC;
}


/* .login-form .card .card-body .btn {
    background: #3F8EFC;
    color: #fff;
    height: 47px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
} */

.login-form .card .card-body .btn:hover {
    background: #3a89e2;
    color: #fff;
}

.login-form .card .card-body .custom-control label {
    font-size: 16px;
}

.form-group {
    padding: 5px;
}

.form-group a {
    text-align: center;
}

.input-icon2 {
    color: #3F8EFC;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    height: 35px;
    width: 80px;
    vertical-align: top;
    display: inline-block;
    margin: -38px 0px 0px 370px;
    cursor: pointer;
}

.back_button {
    margin-top: 20px;
    margin-left: 50px;
    width: 70px;
    height: 47px;
    position: absolute;
    color: white;
    background: #3F8EFC;
    border-radius: 10px;
    border-width: 0px !important;
    font-size: 20px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.login_link {
    color: grey;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .back_button {
        display: none;
    }
    .input-icon2 {
        display: none;
    }
}

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}


/* .container {
    text-align: center;
} */

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    z-index: 999;
}

.progress-container::before {
    content: "";
    /* must be added when using the ::before pseudoselector */
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* centers the line vertically along the y-axis */
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    font-size: 16px;
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn1 {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 16px auto;
    height: 40px;
    width: 100%;
    margin: 5px;
    font-size: 14px;
}

.btn1:active {
    transform: scale(0.98);
}

.btn1:focus {
    outline: 0;
}

.btn1:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}


/* /////////////////////// input /////////////////// */

.holder {
    height: 205px;
    width: 205px;
    /* border: 2px solid black; */
}

.logo-img {
    max-width: 205px;
    max-height: 205px;
    min-width: 205px;
    min-height: 205px;
}

input[type="file"] {
    margin-top: 5px;
}